* {
	margin: 0;
	padding: 0;
}

#container {
	height: 500px;
	width: 500px;
	border: 1px solid black;
	overflow: hidden;
}

.pixel {
	display: inline-block;
	float: left;
	clear: right;
	background-color: green;
}